<div class="card-wrap my-5 mx-auto">
  <div class="card">
    <div class="card-header">プロフィール</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="offset-4 col-4 text-center">
            <%= image_tag avatar_url(@profile), class: "img-thumbnail rounded-circle", width: '200' %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <label class="col-3" for="name">
            ユーザーネーム
          </label>
          <div class="col-9">
            <%= @profile.user.name %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <label class="col-3" for="name">
            自己紹介
          </label>
          <div class="col-9">
            <%= @profile.introduction %>
          </div>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <% if @profile.user == current_user %>
        <%= button_to "プロフィール編集", edit_profile_path, method: :get, class: "btn btn-primary w-50 ml-2" %>
      <% end %>
    </div>
  </div>
</div>