<footer class="bg-light">
  <div class="container text-center text-top">
    <small><%= link_to "Copyright © 2020 INNR pp. All Rights Reserved.", "#", 
      {class: "text-black-50 bg-light"} %></small>
  </div>
</footer>